.component {
    background-color: #d9d9d9;
    border-radius: 90px;
    height: 39px;
    position: relative;
    width: 220px;
  }
  
  .component .filrar-por {
    height: 12px;
    left: 14px;
    position: absolute;
    top: 13px;
    width: 143px;
  }
  
  .component .seta-para-baixo {
    height: 29px;
    left: 183px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 30px;
  }

  .component-wrapper {
    height: 210px;
    position: relative;
    width: 1104px;
  }
  
  .component-wrapper .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 210px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 180px;
  }
  
  .component-wrapper .grupo-leya {
    height: 78px;
    left: 781px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 138px;
  }
  
  .component-wrapper .cropped-logo {
    height: 92px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 189px;
  }
  
  .component-wrapper .ROCCO {
    height: 77px;
    left: 963px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 141px;
  }
  
  .component-wrapper .unnamed {
    height: 133px;
    left: 233px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 142px;
  }
  
  .component-wrapper .element {
    height: 78px;
    left: 419px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 318px;
  }

  .element-entrar {
    background-color: #0d0d0dbf;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .element-entrar .div {
    background-color: #0d0d0dbf;
    height: 3483px;
    position: relative;
    width: 1440px;
  }
  
  .element-entrar .overlap {
    height: 626px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1433px;
  }
  
  .element-entrar .element-cinza-escuro {
    height: 572px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1433px;
  }
  
  .element-entrar .rectangle {
    background-color: #86c36033;
    border: 10px solid;
    border-color: #ffffff;
    border-radius: 40px;
    height: 55px;
    left: 1164px;
    position: absolute;
    top: 29px;
    width: 149px;
  }
  
  .element-entrar .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 1206px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 47px;
    width: 71px;
  }
  
  .element-entrar .boto-entrar {
    height: 177px;
    left: 121px;
    position: absolute;
    top: 449px;
    width: 1199px;
  }
  
  .element-entrar .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 214px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 86px;
    white-space: nowrap;
    width: 159px;
  }
  
  .element-entrar .instituto-federal {
    height: 102px;
    left: 99px;
    position: absolute;
    top: 34px;
    width: 91px;
  }
  
  .element-entrar .img {
    height: 40px;
    left: 174px;
    position: absolute;
    top: 480px;
    width: 1097px;
  }
  
  .element-entrar .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 217px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    position: absolute;
    top: 492px;
  }
  
  .element-entrar .rectangle-2 {
    background-color: #86c360;
    border-radius: 40px;
    height: 45px;
    left: 980px;
    position: absolute;
    top: 34px;
    width: 140px;
  }
  
  .element-entrar .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 1012px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 48px;
    width: 83px;
  }
  
  .element-entrar .p {
    color: #ffffff;
    font-family: "Inter-BoldItalic", Helvetica;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    left: 134px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 246px;
    white-space: nowrap;
    width: 676px;
  }
  
  .element-entrar .lupa {
    height: 24px;
    left: 189px;
    object-fit: cover;
    position: absolute;
    top: 488px;
    width: 19px;
  }
  
  .element-entrar .component-1 {
    left: 970px !important;
    position: absolute !important;
    top: 546px !important;
  }
  
  .element-entrar .component-2 {
    background-color: #d9d9d9;
    border-radius: 90px;
    height: 39px;
    left: 242px;
    position: absolute;
    top: 546px;
    width: 220px;
  }
  
  .element-entrar .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    position: absolute;
    top: 9px;
    width: 163px;
  }
  
  .element-entrar .seta-para-baixo-2 {
    height: 29px;
    left: 183px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 30px;
  }
  
  .element-entrar .component-3 {
    background-color: #d9d9d9;
    border-radius: 90px;
    height: 39px;
    left: 606px;
    position: absolute;
    top: 546px;
    width: 220px;
  }
  
  .element-entrar .text-wrapper-7 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 79px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 769px;
    width: 233px;
  }
  
  .element-entrar .frame {
    height: 61px;
    left: 559px;
    position: absolute;
    top: 2836px;
    width: 297px;
  }
  
  .element-entrar .overlap-group {
    height: 63px;
    position: relative;
    top: 1px;
    width: 398px;
  }
  
  .element-entrar .rectangle-3 {
    background-color: #86c360;
    border-radius: 40px;
    height: 61px;
    left: 0;
    position: absolute;
    top: 0;
    width: 297px;
  }
  
  .element-entrar .text-wrapper-8 {
    color: #000000b2;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 43px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    width: 355px;
  }
  
  .element-entrar .text-wrapper-9 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 80px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1279px;
    width: 401px;
  }
  
  .element-entrar .polygon {
    height: 45px;
    left: 1238px;
    position: absolute;
    top: 1258px;
    width: 35px;
  }
  
  .element-entrar .polygon-2 {
    height: 45px;
    left: 1294px;
    position: absolute;
    top: 1258px;
    width: 36px;
  }
  
  .element-entrar .polygon-3 {
    height: 53px;
    left: 1234px;
    position: absolute;
    top: 746px;
    width: 43px;
  }
  
  .element-entrar .polygon-4 {
    height: 45px;
    left: 1294px;
    position: absolute;
    top: 746px;
    width: 36px;
  }
  
  .element-entrar .text-wrapper-10 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 79px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1777px;
    width: 401px;
  }
  
  .element-entrar .polygon-5 {
    height: 44px;
    left: 1238px;
    position: absolute;
    top: 1781px;
    width: 35px;
  }
  
  .element-entrar .polygon-6 {
    height: 44px;
    left: 1294px;
    position: absolute;
    top: 1781px;
    width: 36px;
  }
  
  .element-entrar .text-wrapper-11 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 79px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2282px;
    width: 401px;
  }
  
  .element-entrar .polygon-7 {
    height: 44px;
    left: 1238px;
    position: absolute;
    top: 2277px;
    width: 35px;
  }
  
  .element-entrar .polygon-8 {
    height: 44px;
    left: 1294px;
    position: absolute;
    top: 2277px;
    width: 36px;
  }
  
  .element-entrar .frame-2 {
    height: 393px;
    left: 106px;
    overflow: hidden;
    overflow-x: scroll;
    position: absolute;
    top: 838px;
    width: 1193px;
  }
  
  .element-entrar .maiores-e-melhores-o {
    height: 376px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 275px;
  }
  
  .element-entrar .OIP {
    height: 376px;
    left: 306px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 275px;
  }
  
  .element-entrar .OIP-2 {
    height: 376px;
    left: 612px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 275px;
  }
  
  .element-entrar .r {
    height: 376px;
    left: 918px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 275px;
  }
  
  .element-entrar .OIP-3 {
    height: 376px;
    left: 1224px;
    object-fit: cover;
    position: absolute;
    top: 8px;
    width: 275px;
  }
  
  .element-entrar .element-hp-camara {
    height: 376px;
    left: 1530px;
    object-fit: cover;
    position: absolute;
    top: 8px;
    width: 275px;
  }
  
  .element-entrar .element-hp-pedra {
    height: 376px;
    left: 1836px;
    object-fit: cover;
    position: absolute;
    top: 8px;
    width: 275px;
  }
  
  .element-entrar .OIP-4 {
    height: 376px;
    left: 2142px;
    object-fit: cover;
    position: absolute;
    top: 8px;
    width: 275px;
  }
  
  .element-entrar .frame-3 {
    height: 393px;
    left: 107px;
    overflow: hidden;
    overflow-x: scroll;
    position: absolute;
    top: 1355px;
    width: 1193px;
  }
  
  .element-entrar .frame-4 {
    height: 393px;
    left: 102px;
    overflow: hidden;
    overflow-x: scroll;
    position: absolute;
    top: 1852px;
    width: 1193px;
  }
  
  .element-entrar .frame-5 {
    height: 393px;
    left: 102px;
    overflow: hidden;
    overflow-x: scroll;
    position: absolute;
    top: 2349px;
    width: 1193px;
  }
  
  .element-entrar .frame-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 499px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 2984px;
    width: 1440px;
  }
  
  .element-entrar .div-wrapper {
    height: 986px;
    margin-right: -2417px;
    position: relative;
    width: 3857px;
  }
  
  .element-entrar .overlap-group-wrapper {
    height: 986px;
    width: 3818px;
  }
  
  .element-entrar .overlap-group-2 {
    background-size: 100% 100%;
    height: 499px;
    position: relative;
    background-color: gray;
    width: 1440px;
  }
  
  .element-entrar .text-wrapper-12 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 194px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 105px;
    white-space: nowrap;
    width: 159px;
  }
  
  .element-entrar .instituto-federal-2 {
    height: 102px;
    left: 79px;
    position: absolute;
    top: 53px;
    width: 91px;
  }
  
  .element-entrar .component-4 {
    left: 145px !important;
    position: absolute !important;
    top: 249px !important;
  }